parameters:
    debug:      true

    db.driver:  mysql
    db.host:    localhost
    db.port:    3306
    db.user:    root
    db.pass:    ''
    db.name:    dbname

    auth.secure: false
    auth.relaxed: [localhost, slimapi.local, 127.0.0.1]
    auth.lifetime: 20 minutes
    auth.maxlifetime: 2 days
    auth.secret: >
        Change this entire
        multi-line string to one that you desire
        or just generate one on
        http://www.unit-conversion.info/texttools/random-string-generator/
        with the following recommended values,
        in order to maximize the security level
        Allowed chars:      abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789
        Number of strings:  16
        Length:             64
        Then paste the resulted string here
        ON THE SAME IDENTAION LEVEL AS THIS TEXT!
        This SECRET key defines the strength of the security level of the API session.
